<div>
    <div [hidden]="!show">
      <div class="cui__utils__heading">
        <strong>Users List</strong>
      </div>
      <div class="card">
        <div class="card-header card-header-flex">
          <div class="d-flex flex-column justify-content-center mr-auto">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" nz-input placeholder="input search text" >
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <a class="btn btn-success" href="javascript: void(0);" (click)="show = !show">
              Add User
            </a>
          </div>
        </div>
        <!-- Tax Grp Table -->
        <nz-table #basicTable [nzData]="user" class="kit__utils__table mb-4" nzSize="small">
          <thead>
            <tr>
              <!-- <th><strong>Group Name</strong>
              </th> -->
              <th><strong>Name</strong>
              </th>
              <th><strong>Address</strong>
              </th>
              <th><strong>Phone Number</strong>
              </th>
              <th><strong>Role</strong>
              </th>
              <th><strong>Action</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of basicTable.data ">
              <td>
                  {{user.name}}
              </td>
              <td>
                {{user.address}}
              </td>
              <td>
                {{user.phoneNumber}}
              </td> 
              <td>
                {{user.role}}
              </td>
              <td>
                <a href="javascript: void(0);"
                class="btn btn-sm btn-light pull-left" slot="actions" style="color: blue;">
                <i class="fe fa-lg fe-edit"></i>
               </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- Card Hide & Show -->
    <div [hidden]="show " class="card" style="width: 50%;  margin-left: 20%; margin-top: 5%;">
      <h5 class="ml-3 mt-3">
        <strong *ngIf="group.id==0">Add User</strong>
        <strong *ngIf="group.id > 0">Edit User</strong>
      </h5>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label"> <strong>Name</strong> </label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="group.name" placeholder="Enter Name" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><strong>Address</strong></label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="group.address" placeholder="Enter Address" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><strong>City</strong></label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="group.city" placeholder="Enter City" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label"><strong>Phone Number</strong></label>
          <div class="col-md-6">
            <input type="number" class="form-control" [(ngModel)]="group.phoneNumber" placeholder="Enter Phone Number" />
          </div>
        </div>
        <button type="button" class="btn btn-secondary px-5" (click)="back()">
          <i nz-icon nzType="left"></i>Back</button>
        <button type="button" class="btn btn-success px-5 pull-right">Save</button>
      </div>
    </div>
  </div>
  