<!-- <div class="cui__utils__heading">
    <strong>Plans List</strong>
</div> -->
<!-- <div >
<div class="card" style="width: 50%; margin-left: 20%;">
    <nz-table #basicTable [nzData]="plans" class="kit__utils__table mb-4" nzSize="small">
        <thead>
          <tr>
            <th><strong>S.No</strong>
            </th>
            <th><strong>Plan Name</strong>
            </th>
            <th><strong>Amount</strong>
            </th>
            <th><strong>Is Active</strong>
            </th>
            <th><strong>Action</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of basicTable.data ; let i = index">
            <td>
              {{i+1}}
            </td> 
            <td>
              {{plan.name}}
            </td>
            <td>
              {{plan.amount}}
            </td>
            <td>
              <input type="checkbox" name="" style="width: 20%;">
            </td>
            <td>
                <a href="javascript: void(0);"
             class="btn btn-sm btn-light pull-left" slot="actions" style="color: blue;">
             <i class="fe fa-lg fe-edit"></i>
            </a>
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
</div> -->

<div>
  <div [hidden]="!show">
    <div class="cui__utils__heading">
      <strong>Plans List</strong>
    </div>
    <div class="card">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center mr-auto">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" >
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <a class="btn btn-success" href="javascript: void(0);" (click)="show = !show">
            Add Plan
          </a>
        </div>
      </div>
      <!-- Tax Grp Table -->
      <nz-table #basicTable [nzData]="plans" class="kit__utils__table mb-4" nzSize="small">
        <thead>
          <tr>
            <!-- <th><strong>Group Name</strong>
            </th> -->
            <th><strong>Name</strong>
            </th>
            <th><strong>Amount</strong>
            </th>
            <th><strong>IsActive</strong>
            </th>
            <!-- <th><strong>Role</strong>
            </th> -->
            <th><strong>Action</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of basicTable.data ">
            <td>
                {{user.name}}
            </td>
            <td>
              {{user.amount}}
            </td>
            <td>
             <input type="checkbox" name="" id="">
            </td> 
            <!-- <td>
              {{user.role}}
            </td> -->
            <td>
              <a href="javascript: void(0);" (click)="editTaxgroup(user)"
              class="btn btn-sm btn-light pull-left" slot="actions" style="color: blue;">
              <i class="fe fa-lg fe-edit"></i>
             </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- Card Hide & Show -->
  <div [hidden]="show " class="card" style="width: 50%;  margin-left: 20%; margin-top: 5%;">
    <h5 class="ml-3 mt-3">
      <strong *ngIf="group.id==0">Add Plan</strong>
      <strong *ngIf="group.id > 0">Edit Plan</strong>
    </h5>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label"> <strong>Name</strong> </label>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="group.name" placeholder="Enter Name" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"><strong>Amount</strong></label>
        <div class="col-md-6">
          <input type="number" class="form-control" [(ngModel)]="group.amount" placeholder="Enter Amount" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label"><strong>IsActive</strong></label>
        <!-- <div class="col-md-6">
          <input type="checkbox" class="form-control" [(ngModel)]="group.isActive"/>
        </div> -->
      </div>     
      <button type="button" class="btn btn-secondary px-5" (click)="back()">
        <i nz-icon nzType="left"></i>Back</button>
      <button type="button" class="btn btn-success px-5 pull-right" (click)="Addplan()">Save</button>
    </div>
  </div>
</div>

