<div class="cui__utils__heading">
    <strong>Plans List</strong>
</div>
<div >
<div class="card" style="width: 50%; margin-left: 20%;">
    <nz-table #basicTable [nzData]="plans" class="kit__utils__table mb-4" nzSize="small">
        <thead>
          <tr>
            <th><strong>S.No</strong>
            </th>
            <th><strong>Plan Name</strong>
            </th>
            <th><strong>Amount</strong>
            </th>
            <th><strong>Is Active</strong>
            </th>
            <th><strong>Action</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of basicTable.data ; let i = index">
            <td>
              {{i+1}}
            </td> 
            <td>
              {{plan.name}}
            </td>
            <td>
              {{plan.amount}}
            </td>
            <td>
              <input type="checkbox" name="" style="width: 20%;">
            </td>
            <td>
                <a href="javascript: void(0);"
             class="btn btn-sm btn-light pull-left" slot="actions" style="color: blue;">
             <i class="fe fa-lg fe-edit"></i>
            </a>
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
</div>
